<template>
  <div class="social-signup-container">
    <div class="sign-btn" @click="fbHandleClick()">
      <span class="wx-svg-container"><svg-icon icon-class="facebook" class="icon facebook"/></span>
    </div>
  </div>
</template>

<script>
import openWindow from '@/utils/openWindow'
import { showErrors } from '@/utils/validate'

export default {
  name: 'SocialSignin',
  methods: {
    fbHandleClick(thirdpart) {
        const parent = this;
        FB.login(function (response) {
        	parent.$store.dispatch('LoginByFacebook', response.authResponse.accessToken ).then(() => {
        		parent.$loading({
                    target: '.el-dialog'
                });
        		parent.$router.push({ path: '/' })
		   }).catch(error => {
			 showErrors(error , this);
			 parent.loading = false
		   })
        }, {
          scope: 'email, public_profile',
          return_scopes: true
        }) 
    },
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  .social-signup-container {
    margin: 20px 0;
    .sign-btn {
      display: inline-block;
      cursor: pointer;
    }
    .icon {
      font-size: 40px;
    }
    .facebook {
      color: #475993;
    }
    .fb-svg-container {
      display: inline-block;
      text-align: center;
      padding-top: 1px;
      border-radius: 4px;
      margin-right: 5px;
    }
  }
</style>
