<template>
  <div class="app-container facebook-container">
  	123
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Facebook',
  computed: {
	  
  },
  created() {
    
  }
}
</script>
