<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default{
  name: 'App',
  mounted () {
	    window.fbAsyncInit = function() {
	      FB.init({
	        appId      : '259648504598538',
	        cookie     : true,
	        xfbml      : true,
	        version    : 'v3.1'
	      });
	    };
	}
}
</script>
