<template>
  <div class="app-container">
    <el-table v-loading.body="listLoading" :data="list" border fit highlight-current-row style="width: 100%">
      <el-table-column align="center" label="ID" width="80px">
        <template slot-scope="scope">
          <span>{{ scope.row.id }}</span>
        </template>
      </el-table-column>
      
      <el-table-column align="center" label="Email"  width="300px">
        <template slot-scope="scope">
          <span>{{ scope.row.email }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Expire Date">
        <template slot-scope="scope">
          <span>{{ scope.row.expiry_date | parseTime('{y}-{m}-{d}') }}</span>
        </template>
      </el-table-column>
      
      <el-table-column align="center" label="Expire ago">
        <template slot-scope="scope">
          <span>{{ scope.row.expiry_date | timeAgo }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Shop">
        <template slot-scope="scope">
          <span>{{ scope.row.default_shop_id }}/{{ scope.row.default_shop_name }}</span>
        </template>
      </el-table-column>

      <el-table-column class-name="status-col" label="Status">
        <template slot-scope="scope">
          <el-tag :type="scope.row.status | statusFilter">{{ scope.row.status_name }}</el-tag>
        </template>
      </el-table-column>
      
      <el-table-column align="center" label="Actions" width="200">
        <template slot-scope="scope">
          	<el-button-group>
          	  <el-tooltip class="item" content="Active" placement="top">
			  	<el-button type="primary" icon="el-icon-check" @click="activeUser(scope.row.id)"></el-button>
			  </el-tooltip>
			  <el-tooltip class="item" content="UnActive" placement="top">
			  	<el-button type="danger" icon="el-icon-close" @click="unActiveUser(scope.row.id)"></el-button>
			  </el-tooltip>
			  <el-tooltip class="item" content="Expiry date" placement="top">
			  	<el-button type="primary" icon="el-icon-date" @click="dialogExpireVisible = true,expireForm.id =  scope.row.id"></el-button>
			  </el-tooltip>
			</el-button-group>
        </template>
      </el-table-column> 
    </el-table>

    <div class="pagination-container">
      <el-pagination
        :current-page="listQuery.page"
        :page-sizes="[10,20,30, 50]"
        :page-size="listQuery.limit"
        :total="total"
        background
        layout="total, sizes, prev, pager, next, jumper"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"/>
    </div>
	<el-dialog title="Expire date" :visible.sync="dialogExpireVisible">
	  <el-form ref="form" :model="expireForm" label-width="70px">
	  	  <el-form-item label="Days">
		     <el-input v-model="expireForm.days"></el-input>
		  </el-form-item>
		  <el-form-item label="Months">
		    <el-input v-model="expireForm.months" ></el-input>
		  </el-form-item>
		  <el-form-item label="Suggest">
		    <el-radio-group v-model="expireForm.months">
		      <el-radio border label="1">1 Month</el-radio>
		      <el-radio border label="2">2 Month</el-radio>
		      <el-radio border label="3">3 Month</el-radio>
		      <el-radio border label="6">6 Month</el-radio>
		      <el-radio border label="12">12 Month</el-radio>
		    </el-radio-group>
		  </el-form-item>
		</el-form>
	  <span slot="footer" class="dialog-footer">
	    <el-button @click="dialogExpireVisible = false">Cancel</el-button>
	    <el-button type="primary" @click="expire()">Expire</el-button>
	  </span>
	</el-dialog>
  </div>
</template>

<script>
import { fetchList, active, unactive, expire } from '@/api/user'

export default {
  name: 'UsersList',
  filters: {
    statusFilter(status) {
      const statusMap = {
    	'1': 'success',
        '0': 'info'
      }
      return statusMap[status]
    }
  },
  data() {
    return {
      expireForm:{
    	  months: 0,
    	  days: 0,
    	  id: 0
      },
      dialogExpireVisible: false,
      list: null,
      total: 0,
      listLoading: true,
      listQuery: {
        page: 1,
        limit: 10
      }
    }
  },
  created() {
    this.getList()
  },
  methods: {
    getList() {
      this.listLoading = true
      fetchList(this.listQuery).then(response => {
        this.list = response.data.items
        this.total = response.data.total
        this.listLoading = false
      })
    },
    handleSizeChange(val) {
      this.listQuery.limit = val
      this.getList()
    },
    handleCurrentChange(val) {
      this.listQuery.page = val
      this.getList()
    },
    activeUser(id){
    	 this.$confirm('This will active users. Continue?', 'Warning', {
            confirmButtonText: 'OK',
            cancelButtonText: 'Cancel',
            type: 'warning'
          }).then(() => {
        	active(id).then(response => {
                this.$message({
                   type: 'success',
                   message: 'Active completed'
                 });
                this.getList();
            });
          }).catch(() => {
            this.$message({
              type: 'info',
              message: 'Canceled'
            });          
         });
    },
    unActiveUser(id){
   	    this.$confirm('This will unactive users. Continue?', 'Warning', {
           confirmButtonText: 'OK',
           cancelButtonText: 'Cancel',
           type: 'warning'
         }).then(() => {
       		unactive(id).then(response => {
               this.$message({
                  type: 'success',
                  message: 'Unactive completed'
                });
               this.getList();
           });
         }).catch(() => {
           this.$message({
             type: 'info',
             message: 'Canceled'
           });          
        });
   },
   expire(){
	   var seft = this;
	   this.$confirm('This will expire date for users. Continue?', 'Warning', {
           confirmButtonText: 'OK',
           cancelButtonText: 'Cancel',
           type: 'warning'
         }).then(() => {
        	 var data = {'days':seft.expireForm.days , 'months': seft.expireForm.months };
        	 expire(seft.expireForm.id , data).then(response => {
                 this.$message({
                    type: 'success',
                    message: 'Expire date completed'
                  });
                 seft.getList();
                 seft.dialogExpireVisible = false;
                 seft.expireForm = {
	               	  months: 0,
	            	  days: 0,
	            	  id: 0
	              	};
             });
         }).catch(() => {
           this.$message({
             type: 'info',
             message: 'Canceled'
           });          
        });
   }
  }
}
</script>

<style scoped>
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
</style>
