<template>
  <el-row :gutter="40" class="panel-group">
    <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
      <div class="card-panel">
        <div class="card-panel-icon-wrapper icon-people">
          <svg-icon icon-class="peoples" class-name="card-panel-icon" />
        </div>
        <div class="card-panel-description" style="margin: 6px 12px">
          <div class="card-panel-text">Total: <count-to :start-val="0" :end-val="user.total" :duration="2600" class="card-panel-num"/></div>
          <div class="card-panel-text">Expired: <count-to :start-val="0" :end-val="user.expired" :duration="2600" class="card-panel-num"/></div>
          <div class="card-panel-text">Active: <count-to :start-val="0" :end-val="user.active" :duration="2600" class="card-panel-num"/></div>
          <div class="card-panel-text">UnActive: <count-to :start-val="0" :end-val="user.unactive" :duration="2600" class="card-panel-num"/></div>
        </div>
      </div>
    </el-col>
  </el-row>
</template>

<script>
import CountTo from 'vue-count-to'
import { summary } from '@/api/user'
export default {
  components: {
    CountTo
  },
  data() {
	  return {
		  user: {
			  total: 0,
			  expired: 0,
			  active: 0,
			  unactive: 0
		  }
	  }
  },
  created() {
    this.summary()
  },
  methods: {
	  summary(){
		  var seft = this;
		  summary().then(response => {
			  seft.user = response.data.user;
		 });
	  }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.panel-group {
  margin-top: 18px;
  .card-panel-col{
    margin-bottom: 32px;
  }
  .card-panel {
    height: 108px;
    font-size: 12px;
    position: relative;
    overflow: hidden;
    color: #666;
    background: #fff;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, .05);
    border-color: rgba(0, 0, 0, .05);
    .icon-people {
      color: #40c9c6;
    }
    .icon-message {
      color: #36a3f7;
    }
    .icon-money {
      color: #f4516c;
    }
    .icon-shoppingCard {
      color: #34bfa3
    }
    .card-panel-icon-wrapper {
      float: left;
      margin: 14px 0 0 14px;
      padding: 16px;
      transition: all 0.38s ease-out;
      border-radius: 6px;
    }
    .card-panel-icon {
      float: left;
      font-size: 48px;
    }
    .card-panel-description {
      float: right;
      font-weight: bold;
      margin: 26px;
      margin-left: 0px;
      .card-panel-text {
        line-height: 18px;
        color: rgba(0, 0, 0, 0.45);
        font-size: 16px;
        margin-bottom: 5px;
      }
      .card-panel-num {
        font-size: 20px;
      }
    }
  }
}
</style>
